.App {
  text-align: center;
  padding: 50px 200px;
  min-height: 100vh;
}

h2 {
  margin: 0 auto;
}

img {
  width: 350px;
  margin-bottom: 50px;
}

button {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  color: #ffffff;
}

.quiz-box {
  width: 520px;
  min-height: 400px;
  margin: 50px auto;
  padding: 50px 0;
  background-color: #ffffff;
  border-radius: 12px;
}

.answer {
  border: #5055d0 2px solid;
  width: 400px;
  padding: 15px 0;
  margin: 15px auto;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #5055d0;
  background-color: #ffffff;
}

.answer:hover {
  background-color: #f9a826;
  color: #ffffff;
  border: #f9a826 2px solid;
}

.correct-answer {
  width: 400px;
  padding: 15px 0;
  margin: 15px auto;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  background-color: #60bf88;
  border: #60bf88 2px solid;
  color: #ffffff;
}

.wrong-answer {
  width: 400px;
  padding: 15px 0;
  margin: 15px auto;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  background-color: #ea8282;
  border: #ea8282 2px solid;
  color: #ffffff;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: #ffffff;
}

.start-quiz-button {
  width: 209px;
  height: 62px;
  border: 2px solid #1d355d;
  background-color: #1d355d;
}

.next-button {
  width: 116px;
  height: 56px;
  background-color: #f9a826;
  border: #f9a826 2px solid;
  margin: 20px 20px;
}

.try-again-button {
  color: #1d355d;
  width: 209px;
  height: 62px;
  border: 2px solid #1d355d;
  background-color: #ffffff;
}

.capital-quiz {
  color: #2f527b;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  margin-left: 60px;
}
