.App {
  text-align: center;
  background-color: wheat;
  padding: 50px 0;
  min-height: 100vh;
}

h2 {
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quiz-box {
  width: 520px;
  min-height: 400px;
  margin: 50px auto;
  padding: 50px 0;
  background-color: #ffffff;
  border-radius: 12px;
}

.answer {
  border: #5055d0 2px solid;
  width: 400px;
  padding: 15px 0;
  margin: 30px auto;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #5055d0;
  cursor: pointer;
}

.answer:hover {
  background-color: #f9a826;
  color: #ffffff;
  border: #f9a826 2px solid;
}

.correct-answer {
  width: 400px;
  padding: 15px 0;
  margin: 30px auto;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  background-color: #60bf88;
  border: #60bf88 2px solid;
  color: #ffffff;
}

.wrong-answer {
  width: 400px;
  padding: 15px 0;
  margin: 30px auto;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  background-color: #ea8282;
  border: #ea8282 2px solid;
  color: #ffffff;
}

.next-button {
  width: 116px;
  height: 56px;
  border-radius: 12px;
}

.try-again-button {
  color: #1d355d;
  width: 209px;
  height: 62px;
  border: 2px solid #1d355d;
}
